In [18]:
!pip install pandas matplotlib prettytable

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/dferfecka/.local/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: matplotlib in /home/dferfecka/.local/lib/python3.8/site-packages (3.5.1)
Collecting prettytable
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/dferfecka/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/dferfecka/.local/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /home/dferfecka/.local/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.20.3 in /home/dferfecka/.local/lib/python3.8/site-packages (from pandas) (1.21.5)
Requirement already satisfied: cycler>=0.10 in /home/dferfecka/.local/lib/python3.8/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/dferfecka/.local/lib/python3.8/site-packages (from matplotlib) (4.28.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/dferfecka/.local/lib/python3.8/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: packaging>=20.0 in /home/dferfecka/.local/lib/python3.8/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /home/dferfecka/.local/lib/python3.8/site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/dferfecka/.local/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: wcwidth in /home/dferfecka/.local/lib/python3.8/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Installing collected packages: prettytable
Successfully installed prettytable-3.11.0

[notice] A new release of pip is available: 24.1.2 -> 24.3.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [11]:
 # imports
from matplotlib import pyplot as plt
import pandas as pd

In [12]:
SESSIONS = "./V0/sessions.jsonl"
ARTISTS = "./V0/artistsjsonl"
TRACKS = "./V0/tracks.jsonl"

In [25]:
session_data = pd.DataFrame(pd.read_json(SESSIONS, lines=True))
session_data.head()

,session_id,timestamp,user_id,track_id,event_type
0,124,2023-10-25 10:13:55.258944,601.0,1Duym1lVQurgKHHSqpOWhY,play
1,124,2023-10-25 10:15:29.065944,601.0,None,skip
2,124,2023-10-25 10:15:34.065944,601.0,None,advertisment
3,124,2023-10-25 10:15:34.065944,601.0,6XFduBZIOMyOV8sCcHuYzb,play
4,124,2023-10-25 10:16:21.994944,601.0,6XFduBZIOMyOV8sCcHuYzb,like

In [30]:
print(len(session_data))

26764

In [22]:
df = pd.DataFrame({'categorical': pd.Categorical(['d', 'e', 'f']),
                   'numeric': [1, 2, 3],
                   'object': ['a', 'b', 'c']
                   })
df.describe()

       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

In [32]:
print(session_data.isnull().mean())

session_id    0.000000
timestamp     0.000000
user_id       0.049357
track_id      0.183455
event_type    0.049171
dtype: float64

In [31]:
print(session_data.describe())

         session_id                      timestamp       user_id
count  26764.000000                          26764  25443.000000
mean    2512.872814  2023-09-23 23:34:01.095397120    625.935267
min      124.000000     2023-03-25 10:35:53.618852    601.000000
25%     1294.750000  2023-06-27 00:58:27.421529088    615.000000
50%     2495.000000  2023-09-25 15:37:32.025764864    627.000000
75%     3725.000000  2023-12-25 03:22:15.629364992    635.000000
max     4904.000000     2024-03-24 13:51:31.382997    650.000000
std     1389.838344                            NaN     12.376329

In [33]:
session_data.describe(include="all")

,session_id,timestamp,user_id,track_id,event_type
count,26764.000000,26764,25443.000000,21854,25448
unique,NaN,NaN,NaN,10640,4
top,NaN,NaN,NaN,466cKvZn1j45IpxDdYZqdA,play
freq,NaN,NaN,NaN,10,14115
mean,2512.872814,2023-09-23 23:34:01.095397120,625.935267,NaN,NaN
min,124.000000,2023-03-25 10:35:53.618852,601.000000,NaN,NaN
25%,1294.750000,2023-06-27 00:58:27.421529088,615.000000,NaN,NaN
50%,2495.000000,2023-09-25 15:37:32.025764864,627.000000,NaN,NaN
75%,3725.000000,2023-12-25 03:22:15.629364992,635.000000,NaN,NaN
max,4904.000000,2024-03-24 13:51:31.382997,650.000000,NaN,NaN
std,1389.838344,NaN,12.376329,NaN,NaN

gfdfgdg